:root {
  font-size: 16px;
  --first-color: #ffb742;
  --bg-color: #212529;
  --main-text-color: #ffffff;
  --accent-color: #292b2e;
  --main-font: "Poppins", sans-serif;
  --title-font: "Inter", sans-serif;
  --roboto: "Roboto", sans-serif;
}

/* **********RESET************* */
*,
*::before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--main-text-color);
  font-family: var(--main-font);
}

img {
  max-width: 100%;
}

ul,
h2,
h3 {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.content-container {
  max-width: 1360px;
  width: 90%;
  margin: auto;
}

/* **************NAVIGATION HEADER*********** */
.list-item {
  margin: 1rem 2rem 1rem 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7rem;
}

.nav ul {
  display: flex;
}

.nav ul li a {
  color: var(--main-text-color);
  transition: 0.3s;
  font-family: var(--main-font);
  font-size: 1.125rem;
}

.nav ul li a:hover {
  color: var(--first-color);
}

.hamburger-menu {
  color: var(--first-color);
  font-size: 2rem;
  display: none;
}

/* ********UTILITY CLASSES************ */
.fs-18 {
  font-size: 1.125rem;
}

.fs-24 {
  font-size: 1.5rem;
}

.fs-32 {
  font-size: 2rem;
}

.fs-48 {
  font-size: 3rem;
}

.fw-regular {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-700 {
  font-weight: 700;
}

.fw-900 {
  font-weight: 900;
}

.mw-350 {
  max-width: 350px;
}

.ff-roboto {
  font-family: var(--roboto);
}

.ff-poppins {
  font-family: var(--main-font);
}

.tc-black {
  color: #000000;
}

.tc-first {
  color: var(--first-color);
}

.ff-inter {
  font-family: var(--title-font);
}

.mrgn-rst {
  margin: 0;
}

.mt-5rem {
  margin-top: 5rem;
}

.btn {
  padding: 12px 26px;
  border-radius: 50px;
  cursor: pointer;
  color: var(--bg-color);
  font-weight: 600;
  border: none;
  font-family: var(--main-font);
  background-color: transparent;
  border: 2px solid;
}

.btn-primary {
  background-color: var(--first-color);
  border-color: var(--first-color);
}

.display {
  display: block !important;
}

/* **********HERO AND METER SECTION******** */
.hero-section {
  font-family: var(--title-font);
  text-align: center;
  margin: 5rem 0;
}
.hero-name {
  color: var(--first-color);
  border-bottom: 2px solid var(--first-color);
}

.meter-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--title-font);
}

.meter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0 1rem;
  background-color: var(--accent-color);
  padding: 1rem 2rem;
  border-radius: 7px;
  margin-bottom: 1rem;
}

.meter-icon {
  background-color: #e9e9e9;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.meter-text {
  text-align: center;
  min-width: 160px;
}

.meter-text h3 {
  color: var(--first-color);
  margin: 0;
}

/* *********FOOTER*************** */
.footer {
  margin-top: 10rem;
  background-color: #1c1c1c;
  position: relative;
}

.footer-cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 90%;
  margin: auto;
  text-align: center;
  background-color: var(--first-color);
  padding: 1.5rem 6rem;
  border-radius: 11px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -65px;
}

.footer-links {
  max-width: 1600px;
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 8rem;
  font-family: var(--main-font);
  padding-bottom: 3rem;
}

.footer-links > * {
  flex: 1;
}

.footer-links li a,
.newsletter-para {
  color: #7b7b7b;
  font-size: 1.125rem;
}

.input-container {
  position: relative;
  margin: 0;
}

.input-container input {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  color: #7b7b7b;
  padding-left: 1rem;
  border: none;
  background-color: var(--bg-color);
}

.input-container i {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: var(--bg-color);
  background-color: var(--first-color);
  padding: 1rem;
  border-radius: 50%;
  cursor: pointer;
}

/* ***********ABOUT************* */
.about-me {
  display: flex;
  align-items: center;
}

.about-me > * {
  flex: 1;
}
.section-anchor {
  color: var(--first-color);
  text-transform: uppercase;
  background-color: var(--accent-color);
  display: inline-block;
  padding: 6px 25px 6px 25px;
  border-radius: 25px;
}

.am-about-text {
  color: #d4d4d4;
}

/* **********RESPONSIVE*********** */
@media screen and (max-width: 1060px) {
  :root {
    font-size: 14px;
  }
}

@media screen and (max-width: 980px) {
  .meter-section {
    flex-wrap: wrap;
  }

  .footer-cta {
    flex-direction: column;
    position: initial;
    inset: initial;
    transform: initial;
  }

  .footer-links {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-links .list-item {
    margin: 1rem;
  }

  .hamburger-menu {
    display: block;
    position: absolute;
    right: 30px;
    top: 25px;
  }

  .hire-me {
    display: none;
  }

  body {
    position: relative;
  }

  .header {
    align-items: flex-start;
    flex-direction: column;
  }

  .nav {
    width: 100%;
    background-color: var(--accent-color);
    display: none;
  }

  .nav li {
    margin: 1rem;
  }

  .nav ul {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 500px) {
  :root {
    font-size: 12px;
  }

  .meter-text {
    min-width: 150px;
  }
}
